.nav-bar {
     &__container {
        display:flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding: 10px;
        background-color: teal;
        height: 30px;
        margin-bottom: 40px;
     }

     &__list {
        display:flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
     }

     &__item {
        align-self: center;
        margin-left: 35px;
        height: 100%;
        padding: 5px 0px;
        &:hover {
            border-bottom: 1px solid #fff;
        }

        & > a {
            color: #fff;
            font-family: $font-display;
        }
     }
}