*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 16px; }

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  margin-bottom: 20px; }

h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 1.2rem; }

p, .text {
  font-family: "Open Sans", sans-serif; }

a {
  text-decoration: none; }
  a:hover, a:focus {
    text-decoration: none;
    outline: none; }

ul {
  list-style: none; }

.flex-row-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

.flex-column {
  display: flex;
  flex-direction: column; }
  .flex-column--center {
    justify-content: center;
    align-items: center; }
  .flex-column--left {
    justify-content: center;
    align-items: start; }

.container {
  margin: 20px 10px;
  padding: 0;
  box-sizing: border-box; }

.form-control {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-radius: 3px;
  margin: 20px;
  padding: 20px 15px;
  padding-left: 25px;
  width: 530px; }
  .form-control__title {
    margin-left: 25px;
    margin-top: 20px; }
  .form-control input {
    border: 1px solid #ccc;
    border-radius: 3px;
    height: 30px;
    margin: 10px;
    margin-left: 0;
    width: 95%;
    padding-left: 10px;
    font-size: 14px; }
    .form-control input::-webkit-outer-spin-button, .form-control input::-webkit-inner-spin-button {
      display: none;
      margin: 0; }
    .form-control input[type=number] {
      -moz-appearance: textfield; }
    .form-control input[name="price"] {
      padding-left: 23px; }
    .form-control input:focus {
      outline: none;
      background-color: #ddd; }
  .form-control > textarea {
    border: 1px solid #ccc;
    border-radius: 3px;
    height: 30px;
    margin: 10px;
    margin-left: 0;
    width: 91%;
    height: 150px;
    resize: none;
    padding: 10px;
    font-size: 14px; }
    .form-control > textarea:focus {
      outline: none;
      background-color: #ddd; }
  .form-control__currency {
    position: absolute;
    color: #ccc;
    top: 39px;
    left: 10px; }
  .form-control__submit-btn {
    background-color: orangered;
    opacity: .8;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 10px 15px;
    margin: 15px;
    margin-left: 0px;
    font-size: 16px;
    cursor: pointer; }
    .form-control__submit-btn:hover {
      opacity: 1;
      box-shadow: 0px 1px 4px 2px #ccc; }

.nav-bar__container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  background-color: teal;
  height: 30px;
  margin-bottom: 40px; }

.nav-bar__list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center; }

.nav-bar__item {
  align-self: center;
  margin-left: 35px;
  height: 100%;
  padding: 5px 0px; }
  .nav-bar__item:hover {
    border-bottom: 1px solid #fff; }
  .nav-bar__item > a {
    color: #fff;
    font-family: "Montserrat", sans-serif; }

.add-book {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center; }

.book__items-grid {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px; }

.book__grid {
  display: grid;
  grid-template-columns: 350px;
  grid-template-rows: 450px 130px 235px 70px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  margin: 30px; }

.card__header {
  display: flex;
  flex-direction: column;
  padding: 15px 0px;
  padding-left: 18px; }

.card__content {
  margin-top: 10px; }

.card__actions {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start; }

.card__btn {
  border: none;
  padding: 10px 15px;
  background-color: #000072;
  font-family: "Open Sans", sans-serif;
  color: #fff;
  font-size: 1rem;
  width: 85px;
  text-align: center;
  border-radius: 2px;
  cursor: pointer; }
  .card__btn--delete {
    background-color: #b70000;
    width: 100px; }
    .card__btn--delete:hover {
      background-color: #c10000 !important; }
  .card__btn:hover {
    background-color: #00008c;
    box-shadow: 0 8px 6px -6px black; }

.card__book-title {
  font-family: "Open Sans", sans-serif;
  margin-bottom: 5px;
  padding-right: 10px; }

.card__book-author {
  font-family: "Open Sans", sans-serif; }

.card__book-genre {
  font-family: "Open Sans", sans-serif;
  color: #ccc;
  text-align: right;
  padding: 10px 0px;
  padding-right: 23px;
  border-bottom: 1px solid #ccc; }

.card__book-img {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: 10px 2px; }

.card__book-price {
  padding-right: 23px;
  padding-top: 10px;
  text-align: right; }

.card__book-desc {
  padding: 12px;
  line-height: 1.5;
  font-size: 15px;
  max-height: 160px;
  overflow: hidden; }
