

$base-font: 16px;
$font-display: 'Montserrat', sans-serif;
$font-primary: 'Open Sans', sans-serif;


*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}
html {
    font-size: $base-font;
}

h1 {
    font-family: $font-display;
    font-size: 2rem;
    margin-bottom: 20px;
}

h2 {
    font-family: $font-display;
    font-weight: 300;
    font-size: 1.2rem;
}

p, .text {
    font-family: $font-primary;
}

a {
    text-decoration: none;
    &:hover,
    &:focus {
        text-decoration: none;
        outline: none;
    }
}

ul {
    list-style: none;
}

.flex {
    &-row-center {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    &-column{
            display: flex;
            flex-direction: column;
        &--center {
            justify-content: center;
            align-items: center;
        }

        &--left {
            justify-content: center;
            align-items: start;
        }
    }
}